/* Credit: https://github.com/abhiomkar/good-quotes/blob/master/package/css/style.css */

body,
html {
    margin: 0;
    padding: 0;
    height: 100%;
}

body {
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    align-items: center;
    display: flex;
    flex-direction: column;
    font-family: "Avenir", "helvetica neue", helvetica, arial, "Microsoft YaHei", "PingFang SC", "Heiti SC", sans-serif;
    font-weight: 500;
    justify-content: center;
}

#app {
    display: flex;
    flex-direction: column;
    max-height: 100%;
    text-align: center;
    width: 50%;
}

.author,
.title {
    color: #aeaeae;
    font-weight: normal;
}

.title {
    margin-top: 0;
}

.hidden {
    display: none;
}

@media (prefers-color-scheme: dark) {
    body {
        background-color: #000;
    }

    .quote {
        color: #eeeeee;
    }

    .author,
    .title {
        color: #969696;
    }
}

/* Credit: https://github.com/nexmoe/hitokoto-newtab/blob/main/style.css */

footer {
	opacity: 0.5;
	padding-top: 0.5rem;
	position: absolute;
	right: 15px;
	bottom: 15px;
	text-align: right;
	font-family: "Avenir", "helvetica neue", helvetica, arial, "Microsoft YaHei", "PingFang SC", "Heiti SC", sans-serif;
	font-weight: 500;
	font-size: 11px;
	color: #aeaeae;
	line-height: 16px;
}

footer:hover {
	opacity: 1;
}

footer a {
	color: #969696;
	text-decoration: none;
	font-weight: bold;
}
